{% extends 'base.html.twig' %}
{% block title %}Cart{% endblock %}
{% block body %}
    
 <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
<body>
        <!-- Cart Start -->
    <div class="container py-5">
        <div class="row g-5">
            <!-- Cart list Start -->
            <div class="col-lg-8">
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/img/product-1.png" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                     <h4 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">12 €</h4>
                                </div>
                                <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                
                                 <a href="" class="btn btn-primary py-2 px-4">Remove from cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="/img/product-2.png" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <div class="d-flex mb-3">
                                     <h4 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">10 €</h4>
                                </div>
                                <h5 class="text-uppercase mb-3">Dolor sit magna rebum clita rebum dolor</h5>
                                
                                 <a href="" class="btn btn-primary py-2 px-4">Remove from cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Cart list End -->

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Plain Text Start -->
                <div>
                    <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Cart</h3>
                    <div class="bg-light text-center" style="padding: 30px;">
                        <div class="d-flex mb-3">
                                <h4 id="totalCart" class="text-uppercase ps-3 mb-4">Total 22 €</h4>
                        </div>
                        <a href="" class="btn btn-primary py-2 px-4">Checkout</a>
                    </div>
                </div>
                <!-- Plain Text End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->  
{% endblock %}
